<title>{{ name }}</title>
<main>
	<div style="background: url(https://i1.wp.com/windowscustomization.com/wp-content/uploads/2018/08/mass-effect-reapers.gif?fit=750%2C377&quality=80&strip=all&ssl=1);height: 420px;background-size: cover;background-position: center;background-repeat: no-repeat;box-shadow: inset 0px 0px 200px 200px #161616ab, inset 0px 0px 20px 20px #161616;">
		<div>
			<br>
			<center>
				<br>
				<div class="mx-auto" style=" margin-left:auto;">
					<img class="unselectable" src="{{avatar}}" style="width: 130px; height: 130px; border-radius: 20px;  box-shadow: 0 6px 6px rgb(241, 101, 8);">
					<br>
					<span class="mx-auto " style="color: white;font-weight: bold;font-size: 45px;"><strong>{{name}}</strong></span><br>
					<br>
					<img src="https://s3.eu-west-1.amazonaws.com/cottoncart-images/shops/shop8209/products/1587585884_90988_min.png" style="margin-bottom: 10px;" width="25px"><img src="https://cdn.discordapp.com/emojis/782574462972592169.png?v=1"	style="margin-bottom: 10px; margin-left: 6px;" width="25px"><img	src="https://cdn.discordapp.com/emojis/834212640921223179.png?v=1"	style="margin-bottom: 10px; margin-left: 6px;" width="25px"><img	src="https://cdn.discordapp.com/emojis/797344890555334656.gif?v=1"	style="margin-bottom: 10px; margin-left: 6px;" width="25px">
				</div>
			</center>
		</div>
		<br>
	<center>
	        <a class="btn btn-danger" href="https://discord.com/users/774591026940739585" style="background-color: red;">Discord Profilim</a>
			<a class="btn btn-danger" href="https://instagram.com/ewingbaba" style="background-color: rgb(241, 101, 8); color: white;">Instagram Profilim</a>
			<a class="btn btn-primary" href="https://github.com/ewingdev" style="background-color: rgb(9, 79, 253);">Github Profilim</a>
        <a class="btn btn-primary" href="/contact" style="background-color: rgb(80, 77, 245);">Burdan İletişim İçin Tıkla</a>
     	</center>
		<div class="ewingboxx" style="padding: 20px;">
			<strong>
			<h3><img src="https://cdn.discordapp.com/emojis/733688934667780137.gif?v=1" width="30"> Hi there! </h3>
			<p style="font-size: 17px;">I'm <a style="color: rgb(241, 101, 8);">Ewing ( Süleyman )</a><br> sonsusturucu.com Admin </p>	</strong>
				<strong>
				<p><img src="https://cdn.discordapp.com/emojis/782574462972592169.png?v=1" width="15px"> Full-Stack Web Developer</p><img src="https://cdn.discordapp.com/emojis/782574462972592169.png?v=1" width="15px"> Javascript,Node.js Developer <br>
				</strong>
			<strong>
				<br>
			<h3><img src="https://cdn.discordapp.com/emojis/747551498224795761.gif?v=1" width="30">Profilim</h3>
			<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png" width="30"> Spotify: {{ spoewing }} {{sposanatçı}}
			</p>
			<p><img src="https://cdn.discordapp.com/emojis/747549216892518551.gif?v=1"	width="30"> Status: {{ ewingstatus }}</p>
			<p><img src="https://cdn.discordapp.com/emojis/747549216892518551.gif?v=1"	width="30"> Açıklaması: {{ ewingdurum }}</p></strong>
		</div>
		<br>
		<br>
	</div>

</main>

<style type="text/css">
	.ewing {
		width: 400px;
		height: 250px;
		display: table;
		position: relative;
		overflow: hidden;
		text-align: center;
		margin: 0 auto;
	}

	.ewingboxx {
		box-shadow: 0 6px 6px rgb(241, 101, 8);
		background-color: #161616;
		color: white;
		padding: 20px;
		margin: 50px;
	}


</style>